@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
:root{
  --body-font: 'Cinzel', serif;
  --black-color: black;
  --white-color: white;
}
a{
  text-decoration: none !important;
}
/* site logo */
.site-logo img{
  display: block;
  margin: 0 auto;
  width: 100px;
}
/* banner section css start */
.banner-sec {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}
.sidebar h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: -30px;
  font-weight: 700;
  font-family: var(--body-font);
  letter-spacing: 5px;
  text-align: center;
  line-height: 1.6;
}
.sidebar span{
  color: var(--black-color);
}
.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}
.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
button {
  background-color: var(--white-color);
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}
button:hover {
  color: #222;
}
button:focus {
  outline: none;
}
.controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}
.controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* banner section css end */

/* product collection section css start */
.product-sec{
  padding: 80px 0 20px 0;
}
.product-header-main{
  text-align: center;
}
.product-header-inner h5{
  color: var(--black-color);
  letter-spacing: 2px;
  padding: 10px 0;
  font-family: var(--body-font);
}
.product-header-inner h1{
  font-family: var(--body-font);
  padding: 20px 0;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 600;
}
.collection-sec{
  padding: 30px 0;
}
.first-row , .second-row , .third-row{
  padding: 30px 0;
}
.item{
  border-bottom: 1px solid gray;
  transition: 0.2s all ease-in-out;
}
.item:hover{
  border-bottom: 1px solid rgb(161, 38, 38);
}
.item-inner{
  overflow: hidden;
}
.item-inner img{
  width: 100%;
  height: auto;
  transition: 0.2s all linear;
}
.item-inner img:hover{
  transform: scale(1.2);
}
.collection-content-inner h6{
  font-family: var(--body-font);
  padding: 15px 0 0 0;
}
.collection-content-inner p{
  font-family: var(--body-font);
  padding: 15px 0 0 0;
}
.view-button{
  padding: 30px 0 0 0;
  text-align: center;
}
.view-all-product-btn{
  font-size: 16px;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 2px;
  padding: 15px 20px;
  border: none;
  background:  linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  font-family: var(--body-font);
}
.view-all-product-btn:hover{
  color: var(--white-color);
  transform: translate(0px, -6px);
}
/* product collection section css end */

/* category section css start */
.category-sec{
  padding: 50px 0;
}
.category-sec-heading h1{
  font-size: 50px;
  font-family: var(--body-font);
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
}
.sub-category-head h3{
  font-family: var(--body-font);
  text-align: center;
}
.category-sec-main{
  padding: 20px;
  overflow: hidden;
}
.category-sec-inner{
  position: relative;
  overflow: hidden;
}
.category-sec-inner img{
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
.category-sec-inner img:hover{
  filter: grayscale(0%);
}
.view-more{
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.category-sec-inner .view-more-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  padding: 15px 20px;
  border: none;
  background:  linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  font-family: var(--body-font);
}
.category-sec-inner:hover .view-more{
  bottom: 0;
  opacity: 1;
}
.collections-catagory-name{
  font-family: var(--body-font);
}
/* category section css end */

/* about section css start */
.about-us-sec{
  padding: 50px 0;
}
.about-us-heading h1{
  font-size: 50px;
  font-family: var(--body-font);
  font-weight: 600;
  text-align: center;
  padding:  0 0 20px 0;
}
.about-us-heading p{
  font-family: var(--body-font);
  font-size: 18px;
  padding: 10px 0;
  line-height: 1.8;
  letter-spacing: 1px;
}
.about-design{
  padding: 100px 20px;
  background: url(https://source.unsplash.com/1000x1000/?nature) no-repeat;
}
.about-sustainability{
  padding: 100px 20px;
  background: url(https://source.unsplash.com/1000x1000/?about) no-repeat;
}
.about-performance{
  padding: 100px 20px;
  background: url(https://source.unsplash.com/1000x1000/?contact) no-repeat;
}
.about-us-card-inner{
  opacity: 0;
  transition: all 0.3s ease-in;
}
.about-us-card-inner h3{
  font-family: var(--body-font);
  font-weight: 500;
  color: var(--white-color);
  text-align: center;
}
.about-us-card-inner P{
  color: var(--white-color);
  font-family: var(--body-font);
  text-align: center;
}
.about-us-card-main:hover .about-us-card-inner{
  opacity: 1;
}
/* about us section css end */

/* contact us section css start */

.contact-us-heading h1{
  font-size: 50px;
  font-family: var(--body-font);
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
}
.contact-us-main{
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}
.contact-us-inner input{
  margin: 20px 0;
  outline: none;
}
.contact-us-inner textarea{
  display: block;
  margin: 20px 0;
  outline: none;
}
.contact-us-inner input::placeholder, textarea::placeholder{ 
  font-family: var(--body-font);
}
.contact-us-inner input:focus, .contact-us-inner textarea:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.contact-btn{
  margin: 35px 0 0 0;
  text-align: center;
}
.contact-us-inner a{
  font-size: 16px;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 2px;
  padding: 15px 20px;
  border: none;
  background: linear-gradient(229.99deg, rgb(17, 222, 233) -26%, rgb(1, 126, 139) 145%);
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
  font-family: var(--body-font);
}
.contact-us-inner .contact-btn{
  transition: all 0.3s ease-in-out;
}
.contact-us-inner .contact-btn:hover{
  transform: translate(0px, -6px);
}
/* contact us section css end */

/* footer css start */
.footer-sec{
  background: linear-gradient(229.99deg, #11DEE9 -26%, #017E8B 145%);
  padding: 100px 0 30px  0;
  margin: 100px 0 0 0;
  font-family: var(--body-font);
}
.fotter-site-logo{
  padding: 0 0 0 32px;
}
.fotter-site-logo img{
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.fotter-site-logo h2{
  padding: 20px 0 20px 10px;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  text-align: left;
}
.fotter-site-logo:hover h2, .fotter-site-logo:hover img{
  transform: translateX(10px);
}
ul{
  list-style: none;
}
.services-list li, .social-list li, .shop-list li{
  padding: 0 0 15px 0;
  transition: all 0.3s ease-in-out;
}
.services-list li a, .social-list li a, .shop-list li a{
  color: var(--white-color);
  font-size: 18px;
  padding: 15px 10px;
}
.shop-list li:hover, .services-list li:hover, .social-list li:hover{
  transform: translateX(10px);
}
.copyright{
  text-align: center;
  padding: 30px 0 0 0;
}
.copyright p{
  color: var(--white-color);
}
/* footer css end */




/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


/* product page */
/* product page css */
.product-pg-right-img img{
  width: 100%;
}







/* wishlist */

.wishlist-sec{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
}

#wishlist-btn{
  background-color: var(--white-color);
  padding: 15px;
  color: var(--black-color);
  font-family: var(--body-font);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.wishlist{
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s ease-in-out;
}
.main{
  position: relative;
  width: 100%;
  height: 100%;
}
.inner{
  position: absolute;
  top: 20%;
  left: 10%;
}
#close-btn{
  position: absolute;
  right: 50px;
  top: 50px;
  color: var(--black-color);
}
.inner h1{
  text-align: center;
  color: var(--white-color);
  font-size: 50px;
  font-family: var(--body-font);
  padding: 0 0 20px 0;
}
.wishlist-product-inner p{
  padding: 10px 0;
  color: var(--white-color);
  font-size: 20px;
  font-family: var(--body-font);
}